body {
  font: 13px/1.2307692308 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jumbotron {
  display: block;
  padding: 0 !important;
  margin-left: 100px;
  margin-right: 100px;
}
.jumbotron .row .col-sm-9,
.jumbotron .row .col-sm-3 {
  padding: 0 !important;
}
.jumbotron .row .col-sm-3 .row {
  margin: 0;
}
.jumbotron .row .col-sm-9 .card,
.jumbotron .row .col-sm-9 .card .card-img {
  width: 100%;
  height: 100%;
}

.jumbotron .row .card {
  border-radius: 0px !important;
}

.artist-row img {
  width: 100%;
}
